<!DOCTYPE html>
<html lang="ro">
<%- include("../fragmente/head") %>

<body class="container">
  <%- include("../fragmente/header") %>
  <main>

    <h1>Confirmare mail</h1>
    <p>Totul a functionat bine!</p>
  </main>

  <%- include("../fragmente/footer") %>

</body>

</html>