<!DOCTYPE html> <!-- tipul documentului, html, cerinta 1-->

<html lang="ro"> <!-- limbajul paginii, cerinta 1 -->

<head>
    <title>Tim's Music Shop</title> <!-- titlu corespunzator al paginii, cerinta 2 -->
    <!-- /* fara viewport nu merg media queries */ -->
    <meta name="keywords"
        content="magazin de muzică, instrumente cu clape, instrumente cu coarde, instrumente de suflat, muzică, instrumente, orgă, pian, pianină, vioară, violă, contrabas, chitară, mandolină, fluier, flaut, trompetă, trombon, ofertă instrumente, instrumente muzicale">
    <meta name="description"
        content="Tim's Music Shop - Acasa. Magazin de muzica. Instrumente de calitate la cel mai bun pret.">
    <%- include("../fragmente/head.ejs") %> <!-- includerea fisierului head.ejs -->
</head>

<%- include("../fragmente/header.ejs") %>

    <body>

        <main>
            <div>
                <div id="text-de-reflectat">
                    <h1>Despre noi</h1>
                </div>
                <div id="text-reflectat">Despre noi</div>
            </div>

            <hr>
            <div class="hr_bk">
                <div class="bubble1">
                    <div class="blur1"></div>
                    <div class="bubble2">
                        <div class="blur2"></div>
                    </div>
                    <div class="bubble3">
                        <div class="blur3"></div>
                    </div>
                </div>
            </div>
            <hr>


            <p>Suntem un magazin de muzică la care poți găsi instrumente de calitate la un preț foarte bun.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi non temporibus id atque esse laborum
                nihil provident facilis placeat saepe, deleniti exercitationem beatae corrupti voluptas perferendis
                harum unde libero inventore.</p>

            <div id="imagine"></div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dolores amet aut in. Dolorem qui
                facilis aspernatur exercitationem totam voluptatem accusamus atque, quo numquam debitis beatae. Fuga
                tempora ipsam id. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam maxime dolorum
                cumque accusantium incidunt facilis eius officiis ab ducimus, repudiandae accusamus blanditiis tenetur
                molestiae deleniti iusto! Id mollitia natus iste. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Laudantium eligendi quae dolorem fugiat vitae repellendus eos inventore tempora totam cumque qui
                eius facilis voluptatem assumenda odio est, voluptates sapiente quod?</p>
            <video controls poster="/Resurse/Imagini/poster.jpg" preload="metadata">
                <source src="/Resurse/video/prezentare.mp4" type="video/mp4">
                <source src="/Resurse/video/prezentare.ogv" type="video/ogv">
                <track label="Romanian" kind="subtitles" srclang="ro" src="/Resurse/subtitles/subtitles-ro.vtt" default>
                <track label="English" kind="subtitles" srclang="en" src="/Resurse/subtitles/subtitles-en.vtt">
            </video>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, maxime ipsum. Impedit odit,
                dolores iste sunt labore velit temporibus ratione veniam quia voluptatum. Magnam accusamus beatae enim
                incidunt consectetur quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, sit
                accusantium! Ratione voluptatum voluptate inventore atque ullam ea voluptatibus explicabo delectus,
                eligendi voluptatem perspiciatis quam, voluptates dignissimos quisquam nostrum velit. Lorem ipsum dolor,
                sit amet consectetur adipisicing elit. Atque laboriosam harum, iure vero corporis unde aliquam! In
                cumque facere repellat veniam id dolorem fuga suscipit? Ex at doloribus voluptatum aliquam? Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Soluta consequatur dolore recusandae laboriosam eveniet
                exercitationem iste pariatur accusamus debitis dolorum aperiam cupiditate sed doloremque facilis
                provident velit minus, itaque hic? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut corrupti
                amet officia. Minima, tempora unde sed ab eaque dicta, quam pariatur at ducimus ullam, laboriosam
                consectetur laborum totam quidem fugit.</p>
        </main>

        <%- include("../fragmente/footer.ejs") %>
    </body> <!-- cerinta 7, s-au folosit tagurile <p> si <ul>|| cerinta 4, impartirea body-ului -->

</html>

<!-- cerinta 9, pagina contine toate cuvintele cheie mentionate in head-->