<!DOCTYPE html> <!-- tipul documentului, html, cerinta 1-->

<html lang="ro"> <!-- limbajul paginii, cerinta 1 -->

<head>
    <title>Tim's Music Shop</title> <!-- titlu corespunzator al paginii, cerinta 2 -->
    <!-- /* fara viewport nu merg media queries */ -->
    <meta name="keywords"
        content="magazin de muzică, instrumente cu clape, instrumente cu coarde, instrumente de suflat, muzică, instrumente, orgă, pian, pianină, vioară, violă, contrabas, chitară, mandolină, fluier, flaut, trompetă, trombon, ofertă instrumente, instrumente muzicale">
    <meta name="description"
        content="Tim's Music Shop - Acasa. Magazin de muzica. Instrumente de calitate la cel mai bun pret.">
    <%- include("../fragmente/head.ejs") %> <!-- includerea fisierului head.ejs -->
</head>

<%- include("../fragmente/header.ejs") %>

    <body>

        <main id="grid-pagina">
            <p>Altceva</p>
        </main>

        <%- include("../fragmente/footer.ejs") %>
    </body> <!-- cerinta 7, s-au folosit tagurile <p> si <ul>|| cerinta 4, impartirea body-ului -->

</html>

<!-- cerinta 9, pagina contine toate cuvintele cheie mentionate in head-->