#imagine {
    position: relative;
    background-image: url("/Resurse/Imagini/galerie/acordeon.jpg");
    background-size: cover;
    width: 500px;
    height: 400px;
    transition: all 2s linear;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 3px solid var(--complement3);
    overflow: hidden;
}

#imagine:after,
#imagine:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s linear;
}

#imagine:after {
    background-color: var(--complement2);
    /* mix-blend-mode: lighten; */
    opacity: 0.3;
    right: -100%;
}

#imagine:before {
    background-color: var(--complement1);
    mix-blend-mode: darken;
    opacity: 0.7;
    left: -100%;
}


#imagine:hover:after {
    right: 0;
}

#imagine:hover:before {
    left: 0;
}