p.oferta {
    color: red;
}

p {
    color: rgb(36, 46, 36);
}

#Oferte {

    border: 3px solid red;
}

#Descriere>h2 {
    background-color: orange;
}

/* h2+p {
    border: 10px green solid;
} */

/* Paragraful de dupa h1 (frate direct ) */

/* h2~div {
    border: 10px green solid;
} */

/* Paragraful de dupa h1 (frate indirect, toate div-urile de dupa h2 ) */

/* Efect de cascada, il ia pe ultimul */

body {
    --culoare-mov: rgb(43, 29, 63);
    --roz-deschis: #c93660;
    --culoare-fundal: #f5f5f5;
    --culoare-text: black;
    --culoare-background: #131E42;
    --culoare1: #24124F;
    --culoare2: #151559;
    --culoare3: #153859;
    --culoare4: #12414F;
}

body.dark {
    --culoare-fundal: #000000;
    --culoare-text: white;
}

/*variabile vizibile la nivel de arbore body */
/* variabila in css : -- */

body {
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
}

#grid-pagina {
    display: grid;
    grid-template-areas: "z-welcome z-welcome z-welcome"
        "z-produse z-produse z-promotii"
        "z-fig1 z-orar z-orar"
        "z-fig2 z-orar z-orar"
        "z-fig3 z-orar z-orar"
        "z-anunturi z-anunturi z-anunturi"
        "z-index-intrebari z-index-intrebari z-index-intrebari";

}

#grid-pagina>section,
#grid-pagina>figure {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: var(--roz-deschis);
    color: var(--culoare-text);
}

#welcome {
    grid-area: z-welcome;
}

#promotii {
    grid-area: z-promotii;
}

#produse {
    grid-area: z-produse;
}

#orar {
    grid-area: z-orar;
}

#fig1 {
    grid-area: z-fig1;
}

#fig2 {
    grid-area: z-fig2;
}

#fig3 {
    grid-area: z-fig3;
}

#anunturi {
    grid-area: z-anunturi;
}

#index-intrebari {
    grid-area: z-index-intrebari;
}