p.oferta {
    color: red;
}

p {
    padding: 5px;
    text-indent: 2em;
    margin: 1em;
}

b {
    font-weight: bolder;
}

strong {
    font-weight: bolder;
}

i {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.2em;
    padding: 0.2em;
}

#icons {
    margin-left: -2em;
}

html {
    font-size: 16px;
}

ul {
    padding-left: 15px;
}


#Special {
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

#Oferte {

    border: 3px solid red;
}

#Descriere>h2 {
    background-color: var(--background-color);
    color: var(--background-white);
    padding-left: 10px;
}

body {
    --background-white: #f5f5f5;
    --text-black: black;
    --text-white: white;
    --text-red: red;
    --background-color: #131E42;
    --complement1: #24124f;
    --complement2: #151559;
    --complement3: #153859;
    --complement4: #12414F;
    --spacing: 50px;
    --padding: 10px;
    --margin: 10px;
}

body.dark {
    --background-negru: #000000;
    --text-white: white;
}

/*variabile vizibile la nivel de arbore body */
/* variabila in css : -- */

body {
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--background-white);
    color: var(--text-black);
    margin: 0;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    min-width: 400px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

#logo {
    width: 30px;
    height: 30px;
}

figure {
    margin: 0;
}

#banner {
    width: 100%;
    height: 100%;
}

iframe {
    height: 315px;
    width: 100%;
    max-width: 560px;

}


#grid-pagina {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-areas:
        "z-prezentare z-prezentare z-prezentare"
        "z-calendar z-tabel z-anunturi"
        "z-lista z-tabel z-anunturi"
        "z-lista z-statistici z-site"
        "z-altele z-altele z-altele";
    /* column-gap: 50px;
    row-gap: 50px; */
    gap: 25px 10px;

}

#grid-pagina>section {
    padding: var(--padding);
    border: 10px solid var(--complement2);
}

img {
    width: 100%;
    height: auto;
}

header {
    border: 10px solid var(--complement2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: calc(-1 * var(--spacing));
    margin-right: calc(-1 * var(--spacing));
}

footer {
    border: 10px solid var(--complement2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-top: var(--margin);
}

#Descriere {
    grid-area: z-prezentare;
}

#zona-2 {
    grid-area: z-tabel;
}

#zona-3 {
    grid-area: z-calendar;
}

#zona-4 {
    grid-area: z-anunturi;
}

#zona-5 {
    grid-area: z-lista;
}

#zona-6 {
    grid-area: z-statistici;
}

#zona-7 {
    grid-area: z-site;
}

#zona-8 {
    grid-area: z-altele;
    padding: var(--padding);
    border: 10px solid var(--complement2);
}

/* media query se pune sub codul general pentru ca exista efectul de cascada */
@media screen and (max-width: 600px) {
    #grid-pagina {
        grid-template-areas: "z-prezentare"
            "z-calendar"
            "z-tabel"
            "z-anunturi"
            "z-lista"
            "z-statistici"
            "z-site"
            "z-altele";
    }
}


.container-iframe {
    position: relative;
    display: flex;
    flex-direction: row;
}

.taburi-iframe {
    position: relative;
    display: flex;
    flex-direction: column;
}

.taburi-iframe a {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--background-color);
    padding: 10px;
    width: 100px;
    height: 25px;
    margin-bottom: 2px;
    margin-top: 2.5px;
    margin-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: width 0.5s;
    outline: double 3px var(--complement2);

}

.taburi-iframe a:hover {
    background-color: var(--complement3);
    width: 115px;
}

#ifr-video {
    border: inset 5px var(--complement2);
}

#z2table {
    border: inset 5px var(--complement2);
    border-collapse: collapse;
    width: 100%;
    caption-side: bottom;
}

#z2table td {
    text-align: center;
    color: var(--text-black);
}

#z2table th {
    border: 1px solid var(--text-black);
    background-color: var(--complement3);
}



#z2table caption {
    color: var(--text-white);
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid var(--complement2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--complement1);
}


#z2table tr:nth-child(even) {
    border-bottom: 1px solid var(--complement4);
}

/*c1*/

#z2table tr:nth-child(odd) {
    border-bottom: 1px solid var(--complement1);
}

/*c2*/

#z2table td {
    border: 1px solid var(--complement1);
}

#z2table tr {
    transition: all 0.5s ease;
}

#z2table tr:hover {
    border: 5px solid var(--complement1);
    border-color: rgba(36, 18, 79, 0.7);

}

#reducere {
    height: 3em;
    text-align: center;
    vertical-align: middle;
}

#nota {
    font-family: 'Tangerine', serif;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--text-red);
}

#procentaj {
    font-style: italic;
    font-size: 1.2em;
}