body {
    --spacing: 10px;
    --padding: 5px;
}

body * {
    transition: none;
    animation: none;
}

html {
    font-size: 14px;
    transition: all 0.3s ease;
}

#grid-pagina {
    display: block;
    /*afisate pe rand pe o singura coloana in ordinea din html*/
}

#tabel {
    overflow-x: scroll;
    width: 300px;
    text-align: center;
}

#columnc {
    column-count: 1;
}