body {
    --spacing: 10px;
    --padding: 5px;
}

body * {
    transition: none;
    animation: none;
}

html {
    font-size: 14px;
    transition: all 0.3s ease;
}

#grid-pagina {
    display: block;
    /*afisate pe rand pe o singura coloana in ordinea din html*/
}

/* #tabel {
    overflow-x: scroll;
    width: 300px;
    text-align: center;
} */

#columnc {
    column-count: 1;
}

.disclaimer-banner.animation {
    animation: bannerAnimation 0s forwards;
}

.row-special {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24.5px;
    width: 100vw;
}

#bgvid {
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.theme-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 2.5rem;
}

.theme-wrapper .custom-switch {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Adjust this value to create spacing between the switch and the icons */
}

.theme-pic-soare {
    width: 16px;
    height: 16px;
    margin-right: 1px;
    margin-bottom: 5px;
    /* Adjust this value to create spacing between the icons */
}

.theme-pic-luna {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: 8px;
    /* Adjust this value to create spacing between the icons */
}