#hamburger,
#ch-menu {
    display: none;
}

body {
    --menu-height: 50px;
    --button-width: 220px;
    --menu-background: var(--complement4);
    --button-border: black;
    --menu-text-color: white;
    --border-menu: 2px;
}

nav {
    margin: 0;
    padding: 0;
    /* width: calc(100vw - 15px); */
    background-color: var(--menu-background);
    height: var(--menu-height);
    position: sticky;
    top: 0;
    margin-right: calc(-1*var(--spacing));
    margin-left: calc(-1*var(--spacing));
    z-index: 100;
}

ul.menu {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    /* trece perandul urmator cand nu mai e loc de un buton*/
}

ul.menu>li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--button-width);
}

ul.menu li {
    width: var(--button-width);
    height: var(--menu-height);
    background-color: var(--menu-background);
    overflow: hidden;
    text-align: center;
    border: var(--border-menu) solid var(--button-border);
    /* float: left; de obicei pentru imagini */
    /* display: inline-block; sunt vazute ca si caractere mari */
    box-sizing: border-box;
    /* pentru a nu se suprapune marginile */
    list-style-type: none;
    transition: all 0.3s linear;
}

ul.menu li a,
ul.menu li div {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--menu-text-color);
    line-height: calc(var(--menu-height) - 2 * var(--border-menu));
    /*pentru a alinia textul la mijloc */
    font-weight: bold;

}

/* ul.menu li ul li a::before {
    content: "→";
    opacity: 0;
    position: absolute;
    left: 10px;
} */

ul.menu li ul li a:hover::before {
    opacity: 1;
    transform: translateX(100%);
    transition: all 0.3s linear;

}

ul.menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    transition: all 0.5s linear;
    transform: scale(1, 0);
    transform-origin: center top;
}

ul.menu li:hover {
    overflow: visible;
    /* background-color: var(--complement2); */
    box-shadow: inset 0 0 10px 10px var(--complement2);
}

ul.menu li:hover ul {
    opacity: 1;
    transform: scale(1, 1);
}

.disnone {
    display: none;
}

#outer {
    position: fixed;
    border: 5px solid var(--complement3);
    border-radius: 100%;
    border-top: 0;
    border-bottom: 0;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
}

#inner {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(36, 18, 79, 0.7);
    margin: auto;
    margin-top: 30%;
    transition: all 0.3s linear;
}

#outer:hover #inner {
    border-bottom: 20px solid var(--complement1);
    transform: translateY(-10px);
}

#back-to-top {
    color: var(--text-black);
    text-decoration: none;
}

#inner::before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    bottom: -40px;
    left: -10px;
    transform: translateX(-45%);
    border-radius: 3px;
    background-color: black;
    color: white;
    opacity: 0.7;
    width: 100px;
}

#inner:hover::before {
    display: block;
}

/* main {
    margin-top: var(--menu-height);
    ( pentru a nu se suprapune meniul cu sectiunea din main, in cazul in care am nav-ul de 2 randuri )
} */

#acasa-mediu {
    display: none;
}

/* .arrow {
    opacity: 0;
    transition: all 0.3s linear;
    position: absolute;
    left: 5px;
}

a:hover .arrow {
    opacity: 1;
    display: block;
    transform: translateX(100%);
} */

.hamburger-menu {
    display: none;
}