<footer>
    <h1 style="font-size:small;">Tim's Music Shop contact: </h1>
    <br>
    <address>
        <a href="mailto:fmi.unibuc@unibuc.com"> Trimite un mail la adresa fmi.unibuc@unibuc.com</a>
        <a href="tel:0720000000">Nr Telefon</a>
        <a href="skype:timiandrei"> Skype </a>
        <a href="wa.link/rryahp">Link whatsapp</a>
    </address>
    <small>Copyright &copy; <time datetime="2023-02-27">27 februarie 2023</time></small>
    <div id="banner"> Acesta este un proiect scolar !</div>
</footer>